.SortContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 0.5em;
  margin-block: 1em;
  user-select: none;
  margin-left: 3%;
}

.Sort {
  
  color: #8ab940;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.AscSort {
  transform: rotate(180deg);
}

.AscSort,
.DescSort {
  fill: #8ab940;
}

.AscSort:hover,
.DescSort:hover {
  fill: #a7c111;
}
