.formContainer {
  color: #001700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.formIcon {
  fill: #8ab940;
  margin-right: 2%;
}

.buttonAdd {
  color: #001700;
  background: #8ab940;
  border: 1px solid #8ab940;
  border-radius: 5px;
  padding: 1% 10%;
  margin: 20px 10px;
  font-weight: 700;
}

.buttonAdd:hover {
  background: #a7c111;
}
