nav {
  background-color: #8ab940;
  padding: 16px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5pt;
  vertical-align: middle;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  text-align: center;
}

nav a {
  color: #001700;
  align-self: center;
  text-align: center;
  text-decoration: none;
  padding-left: 5%;
}

nav a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 6px;
  transition: 3s;
  font-weight: 800;
}

.navLink {
  font-weight: 700;
  padding: 2% 6%;
  border-radius: 10px;
}

.navLink:hover {
  background-color: #001700;
  color: #8ab940;
}

/*  ================================================== 
    ****************  MEDIA QUERIES   ****************
    ==================================================   */
@media (max-width: 980px) and (min-width: 360px) {
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  nav a {
    padding-right: 5%;
    padding-left: 4%;
    text-align: left;
  }
}
