.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001700;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 8em;
  width: 100%;
}

.ListTitle {
  font-family: "Black Han Sans", sans-serif;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 3pt;
  color: #eaf4f4;
  margin-top: 1em;
  text-align: center;
}

Input {
  background: #eaf4f4;
  border: 1.5px solid #8ab940;
  border-radius: 5px;
  padding: 1% 8%;
  margin: 1%;
  font-weight: 500;
}

.loadingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #8ab940;
}
.Error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaf4f4;
  font-weight: 800;
  fill: #ff715b;
  letter-spacing: 1px;
}
