nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2;
  justify-content: center;
  background-color: #c6ec4c;
  padding: 18px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5pt;
}

nav a {
  color: #4f5b5c;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 6px;
  transition: 3s;
  font-weight: 800;
}
