nav {
  background-color: #8ab940;
  padding: 16px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5pt;
  vertical-align: middle;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  text-align: center;
}

nav a {
  color: #001700;
  align-self: center;
  text-align: left;
  text-decoration: none;
  padding-left: 5%;
}

nav a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 6px;
  transition: 3s;
  font-weight: 800;
}
